$colors  : (
    1 :  #369ff8,
    2 :  #f33d32,
    3 :  #238210,
    4 :  #222222,
    5 :  #ffd736,
);

$color-text-b    : #222222;
$color-text-b2   : #333333;
$color-text-b3   : #444444;
$color-text-b4   : #666666;
$color-text-b5   : #999999;
$color-text-b6   : #e1e1e1;

$color-text-sub  : $color-text-b4;
$color-text-w    : #ffffff;
$color-text-red  : #ff0000;

$color-border : #dddddd;


$compay-color  : #ed3d30;